# .env.docker.example = versionné
# .env.docker         = non versionné

# Ce fichier regroupe les variables d'environnement à fournir au docker-compose pour le lancement des différents services

# Local : 
#        docker compose --env-file=.env.docker.example
# (ou)   docker compose --env-file=.env.docker

# Prod :  
#        docker compose --env-file=.env.docker


# DATABASE
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_LOCAL_PORT=

# API
NODE_ENV=

DATABASE_URL = 

API_PORT=

JWT_SECRET=


# CLIENT
VITE_API_URL=
VITE_API_BASE_PATH=

